---
layout: layouts/base.njk
permalink: /
pageKey: home
translationKey: home
bodyClass: is-home
---
{% include "partials/intro.njk" %}

<section class="s-hero" data-hero>
  <div class="s-hero__media">
    {% image settings[lang].homeHero, "", "100vw", { eager: true } %}
  </div>
  <div class="s-hero__overlay"></div>
  <img class="s-hero__sign" src="/assets/icons/rp-firma-payoff.png" alt="" aria-hidden="true">
</section>

<section id="intro" class="section bleed home-intro">
  <div class="home-intro__head" data-reveal>
    <h1 class="home-headline">{{ settings[lang].tagline }}</h1>
    <p class="lead">{{ home[lang].subtitle }}</p>
  </div>
  <div class="home-intro__copy" data-reveal>
    {% for block in home[lang].blocks %}
      <p>{{ block.text }}</p>
    {% endfor %}
  </div>
  <div class="home-gallery" data-reveal>
    {% for block in home[lang].blocks %}
      <figure class="home-gallery__item">
        {% image block.image, block.alt, "(max-width:600px) 100vw, 50vw" %}
      </figure>
    {% endfor %}
  </div>
  <p class="home-intro__cta" data-reveal>
    <a class="btn btn--stroke" href="{{ nav[lang].studio.url }}">{{ nav[lang].studio.label }}</a>
  </p>
</section>

{% include "partials/netlify-identity.njk" %}
