---
layout: layouts/base.njk
permalink: /progetti/
pageKey: projects
translationKey: projects
title: Progetti
seoTitle: "Archivio progetti | Roberto Piana Studio"
description: "Una selezione di progetti di architettura e interior design firmati Roberto Piana: case, chalet, spazi privati e ambienti su misura."
---
{% include "partials/projects-index-body.njk" %}
