---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.url and "/admin/" not in page.url and not page.data.pagination %}
  <url><loc>{{ site.url }}{{ page.url }}</loc></url>
{%- endif %}
{%- endfor %}
{%- for project in collections.projects %}
  <url><loc>{{ site.url }}/progetti/{{ project.data.slug }}/</loc></url>
  <url><loc>{{ site.url }}/en/projects/{{ project.data.slug }}/</loc></url>
{%- endfor %}
</urlset>
